.card {
    width: 200px;
    height: 300px;
    perspective: 1000px; /* Adds 3D perspective */
    @media (max-width: 1200px){
      width: 170px;
      height: 260px;
    }
    @media (max-width: 600px){
      width: 140px;
      height: 230px;
    }
    @media (max-width: 425px){
      width: 130px;
      height: 180px;
    }
  }
  
  .cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Ensures the 3D effect on flip */
    transition: transform 0.6s;
    position: relative;
  }
  
  .card:hover .cardInner {
    transform: rotateY(180deg); /* Rotate the card when hovered */
  }
  
  .cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back content when flipped */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
  }
  
  .cardFront {
    background-color: #f4f4f4;
    border: 0.1rem solid #09f4fd;
  }
  
  .cardBack {
    display: flex;
    justify-content: center;
    background-color: #09f4fd;
    color: #000;
    transform: rotateY(180deg); /* Initially hide the back */
    text-align: center;
    line-height: 1.4;
    gap: 2rem;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cardName {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    color: #09f4fd;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.5));
  }
  
  .cardDescription {
    font-size: 1rem;
    @media(max-width: 600px){
      font-size: 0.8rem;
      padding-inline: 0.5rem;
    }
  }

  .cardBack button{
    height: 2rem;
    width: 8rem;
    background-color: #000;
    color: #f4f4f4;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    @media(max-width: 600px){
      height: 1.5rem;
      width: 7rem;
      font-size: 0.8rem;
      border-radius: 0.7rem;
    }
  }
  
  .cardBack button:hover{
    transform: scale(1.1);
  }