@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.homePage{
    background: linear-gradient(#1d1e1dd1, #1d1e1dd1), url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}



/*************************** Hero Scetion ***************************/
.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    padding-top: 5rem;
}

.heroInfo{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d5edee;
    font-family: "Bruno Ace", serif;
}
.heroInfo div{
    margin-block: 1rem;
}
.heroInfo .eventName{
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 0 0 5px #09f4fd, 0 0 10px #09f4fd, 0 0 20px #09f4fd;
    transition: 0.3s ease-in-out;
    @media (max-width: 1024px) {
        font-size: 3.5rem;
    }
    @media (max-width: 650px) {
        font-size: 3rem;
    }
    @media (max-width: 550px) {
        font-size: 2.3rem;
    }
}
.heroInfo .eventName:hover{
    text-shadow: 0 0 5px #09f4fd, 0 0 10px #09f4fd, 0 0 20px #09f4fd, 0 0 30px #09f4fd;
}
.heroInfo .tagline{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    @media (max-width: 1024px) {
        font-size: 1.5rem;
    }
    @media (max-width: 550px) {
        font-size: 1.2rem;
    }
}
.heroInfo .date, .heroInfo .venue{
    font-size: 1rem;
    text-align: center;
    @media (max-width: 650px) {
        font-size: 0.8rem;
    }
}
.heroInfo .date i, .heroInfo .venue i{
    padding-inline: 1rem;
}




/*************************** Countdown ***************************/
.countdownSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: transparent;
    padding-bottom: 4rem;
  }
  
 
  



/*************************** About Scetion ***************************/
  .homeAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    gap: 2rem;
  }
  .sectionTitle{
    font-size: 3rem;
    font-weight: 600;
    color: #09f4fd;
    font-family: "Bruno Ace", serif;
    text-align: center;
    @media (max-width: 1024px) {
        font-size: 2.8rem;
    }
    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
    @media (max-width: 550px) {
        font-size: 2.3rem;
    }
  }
  .homeAbout .homeAboutInfo{
    font-size: 1.5rem;
    font-weight: 500;
    color: #d5edee;
    font-family: "Bruno Ace", serif;
    line-height: 2.2rem;
    text-align: center;
    padding-inline: 8rem;
    @media (max-width: 1024px) {
        font-size: 1.2rem;
    }
    @media (max-width: 768px) {
        line-height: 2rem;
        padding-inline: 4rem;
    }
    @media (max-width: 550px) {
        font-size: 1rem;
        line-height: 1.7rem;
        padding-inline: 2.5rem;
    }
  }

  .homeAbout button{
    text-align: center;
    height: 2.5rem;
    width: 10rem;
    background-color: #09f4fd;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    color: black;
    transition: 0.3s ease-in-out;
  }

  .homeAbout button:hover{
    transform: scale(1.1);
  }



/*************************** Event Scetion ***************************/
  .events{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    gap: 2rem;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 2rem;
    @media (max-width: 1024px){
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
      }
      @media (max-width: 768px){
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 500px){
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
  }